{% extends 'photos/base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group m-3">
            <label>Description</label>
            <input
              class="form-control"
              type="text"
              name="description"
              required
            />
          </div>

          <div class="form-group m-3">
            <label>Upload Image</label>
            <input class="form-control" type="file" name="image" required />
          </div>

          <div class="form-group m-3">
            <label>Enter a Category</label><br />

            <input
              type="text"
              name="category"
              list="category-list"
              required
              value="{{ photo.category.name }}"
              placeholder="Enter a Category"
            />
            <datalist id="category-list">
              <select name="" id="">
                {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </datalist>
          </div>
          <a href="{% url 'gallery' %}" class="btn btn-dark ml-3">cancel</a>
          <button type="submit" class="btn btn-primary ml-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
