{% block content %}
{% load static %}
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid px-10 ">
        <div>
            <a class="navbar-brand text-white bg-dark" href="{% url 'gallery' %}">Arcgate</a>
        </div>
        <div class="">
            <a class="btn btn-primary mx-3" href="{% url 'add' %}">Add Photo</a>

            {% if request.user.is_authenticated %}

            <div class="dropdown">
                <!-- <button class="dropbtn">Profile</button> -->
                <a href="{% url 'profile' request.user.id %}"><img src="{{ request.user.avatar.url }}" alt="No-photo"
                        class="profile-image"></a>
                <div class="dropdown-content">
                    <a class="btn-danger" href="{% url 'user-update' %}">Edit</a>
                    <a class="btn-danger" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            {% else %}
            <a class="btn btn-success" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

{% endblock %}